*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333333;
    color: whitesmoke;
    text-align: center;
    
  }

  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
    color: white;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #dddddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
        
    
    article {
    display: grid;
    grid-template-rows: 1fr 0.25fr 0.5fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr;    
    gap: 5rem;
    }

    .aboutme{
        grid-row: 1/2;
        grid-column: 2/3;
        justify-self: center;

    }

    h2 {
        grid-row: 2/3 ;
        grid-column: 2/3 ;
        align-self: end;
    }

    article figure {
    display: flex;
    flex-flow: wrap;
    justify-content:space-around;
    grid-column: 1/4;
    grid-row: 3/4;
    }

    footer {
    grid-column: 1/4;
    grid-row: 4/5;
    background-color: rgba(211, 209, 209, 0.774);
    align-items: center;
    }
    
    footer p{
        text-align: center;
    }

    footer h3{
        text-align: center;
    }

    .nametrade{ 
        grid-row: 1/2 ;
        grid-column: 3/4;
        justify-self: right;
    }

    .canidrivemain{
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 80vh 10vh;
        
    }   

    .canidrive{
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: start;
    }    

    .canidriveabout{
        grid-column: 1/2;
        grid-row: 2/3;
        align-self: start;
        text-align: center;
    }

    .canidriveinfo{
        grid-row: 2/3 ;
        grid-column: 1/2 ;
        align-self: center;
    }

    .canidrivefooter{
        grid-column: 1/2;
        grid-row:3/4;
        text-align: center;
    }
    @media screen and (max-width:340px){
    .canidrivepic{
        display:none;
        grid-column: 1/2;
        grid-row: 2/3;
        align-items: end;
        justify-content:baseline;
    } }
    
    @media screen and (min-width:341px){
    .canidrivepic{
        grid-column: 1/2;
        grid-row: 2/3;
        align-items: end;
        justify-content:baseline;
    }
    }

    @media screen and (min-width: 750px) and (min-width: 1200){
    .canidrivemain{
        display: grid;
        gap: 3rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10vh 10vh 70vh 10vh;
        
    }   

    .canidrive{
        grid-column: 2/3;
        grid-row: 1/2;
    }    

    .canidriveabout{
        grid-column: 2/3;
        grid-row: 2/3;
        align-self: end;
        text-align: center;
    }

    .canidriveinfo{
        grid-row: 3/4 ;
        grid-column: 2/3 ;
        align-self: start;
    }

    .canidrivefooter{
        grid-column: 1/4;
        grid-row:4/5;
        text-align: center;
    }

    .canidrivepic{
        grid-column: 1/4;
        grid-row: 3/4;
        align-items: end center;
        justify-content:space-around;
    } 
    }

    @media screen and (min-width: 1201px) {
    .canidrivemain{
        display: grid;
        gap: 5rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10vh 10vh 70vh 10vh;
            
    }   
    
    .canidrive{
        grid-column: 2/3;
        grid-row: 1/2;
    }    
    
    .canidriveabout{
        grid-column: 2/3;
        grid-row: 2/3;
        align-self: end;
        text-align: center;
    }
    
    .canidriveinfo{
        grid-row: 3/4 ;
        grid-column: 2/3 ;
        align-self: start;
    }
    
    .canidrivefooter{
        grid-column: 1/4;
        grid-row:4/5;
        text-align: center;
    }
    
    .canidrivepic{
        grid-column: 1/4;
        grid-row: 3/4;
        align-items: center;
        justify-content: space-around;
    } 
    }  

    /* Mobile*/
    @media screen and (max-width: 500px) and (max-height: 600px){
    .contactmain{
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 40vh 40vh 20vh;
    }

    .contacttext{
        grid-column: 2/3;
        grid-row: 1/2;
        place-self: center;
    }

    .contactnav{
        grid-column: 2/3;
        grid-row: 1/2;
        place-self: end center;
    }

    .contactmain footer{
        grid-column: 1/4;
        grid-row: 3/4;
        text-align: center;
    }
    }
    /* iPad*/
    @media screen and (min-width: 501px) and (min-height: 601px){
    .contactmain{
        display: grid;
        gap: 3rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 80vh 20vh;
    }

    .contacttext{
        grid-column: 2/3;
        grid-row: 1/2;
        place-self: center;
    }
    
    .contactnav{
        grid-column: 2/3;
        grid-row: 1/2;
        place-self: end center;
    }
    
    .contactmain footer{
        grid-column: 1/4;
        grid-row: 3/4;
        text-align: center;
    }
    }

    /* Desktop*/
    @media screen and (min-width: 1200px) and (min-height: 900px){
    .contactmain{
        display: grid;
        gap: 5rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 30vh 60vh 10vh;
    }

    .contacttext{
        grid-column: 2/3;
        grid-row: 1/2;
        place-self: center;
    }
    
    .contactnav{
        grid-column: 2/3;
        grid-row: 1/2;
        place-self: end center;
    }
    
    .contactmain footer{
        grid-column: 1/4;
        grid-row: 3/4;
        text-align: center;
    }
    }

    .hundsemestermain{
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 80vh 10vh;
        
    }   

    .hundsemester{
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: start;
    }    

    .hundsemesterabout{
        grid-column: 1/2;
        grid-row: 2/3;
        align-self: start;
        text-align: center;
    }

    .hundsemesterinfo{
        grid-row: 2/3 ;
        grid-column: 1/2 ;
        align-self: center;
    }

    .hundsemesterfooter{
        grid-column: 1/2;
        grid-row:3/4;
        text-align: center;
    }

    .hundsemesterpic{
        grid-column: 1/2;
        grid-row: 2/3;
        align-items: end;
        justify-content:baseline;
    }
    
    @media screen and (max-width:340px){
    .hundsemesterpic{
        display:none;
        grid-column: 1/2;
        grid-row: 2/3;
        align-items: end;
        justify-content:baseline;
    } }
        
    @media screen and (min-width:341px){
    .hundsemesterpic{
        grid-column: 1/2;
        grid-row: 2/3;
        align-items: end;
        justify-content:baseline;
    }
    }
    

    @media screen and (min-width: 750px) and (max-width: 1200){
    .hundsemestermain{
        display: grid;
        gap: 3rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10vh 80vh 10vh;
        
    }   

    .hundsemester{
        grid-column: 2/3;
        grid-row: 1/2;
    }    

    .hundsemesterabout{
        grid-column: 2/3;
        grid-row: 2/3;
        align-self: end;
        text-align: center;
    }

    .hundsemesterinfo{
        grid-row: 3/4 ;
        grid-column: 2/3 ;
        align-self: start;
    }

    .hundsemesterfooter{
        grid-column: 1/4;
        grid-row:4/5;
        text-align: center;
    }

    .hundsemesterpic{
        grid-column: 1/4;
        grid-row: 3/4;
        align-items: end center;
        justify-content:space-around;
    } 
    }

    @media screen and (min-width: 1201px) {
    .hundsemestermain{
        display: grid;
        gap: 5rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10vh 10vh 70vh 10vh;
            
    }   
    
    .hundsemester{
        grid-column: 2/3;
        grid-row: 1/2;
    }    
    
    .hundsemesterabout{
        grid-column: 2/3;
        grid-row: 2/3;
        align-self: end;
        text-align: center;
    }
    
    .hundsemesterinfo{
        grid-row: 3/4 ;
        grid-column: 2/3 ;
        align-self: start;
    }
    
    .hundsemesterfooter{
        grid-column: 1/4;
        grid-row:4/5;
        text-align: center;
    }
    
    .hundsemesterpic{
        grid-column: 1/4;
        grid-row: 3/4;
        align-items: center;
        justify-content: space-around;
    } 
    }

    .findroomiesmain{
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 80vh 10vh;
        
    } 

    .findroomies{
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: start;
    }    

    .findroomiesabout{
        grid-column: 1/2;
        grid-row: 2/3;
        align-self: start;
        text-align: center;
    }

    .findroomiesinfo{
        grid-row: 2/3 ;
        grid-column: 1/2 ;
        align-self: center;
    }

    .findroomiesfooter{
        grid-column: 1/2;
        grid-row:3/4;
        text-align: center;
    }

    .findroomiespic{
        grid-column: 1/2;
        grid-row: 2/3;
        align-items: end;
        justify-content:baseline;
    }   
    @media screen and (max-width:340px){
    .findroomiespic{
        display:none;
        grid-column: 1/2;
        grid-row: 2/3;
        align-items: end;
        justify-content:baseline;
    } }
        
    @media screen and (min-width:341px){
    .findroomiespic{
        grid-column: 1/2;
        grid-row: 2/3;
        align-items: end;
        justify-content:baseline;
    }
    } 
    

    @media screen and (min-width: 750px) and (min-width: 1200){
    .findroomiesmain{
        display: grid;
        gap: 3rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10vh 80vh 10vh;
        
    }   

    .findroomies{
        grid-column: 3/4;
        grid-row: 1/2;
    }    

    .findroomiesabout{
        grid-column: 2/3;
        grid-row: 2/3;
        align-self: end;
        text-align: center;
    }

    .findroomiesinfo{
        grid-row: 3/4 ;
        grid-column: 2/3 ;
        align-self: start;
    }

    .findroomiesfooter{
        grid-column: 1/4;
        grid-row:4/5;
        text-align: center;
    }

    .findroomiespic{
        grid-column: 1/4;
        grid-row: 3/4;
        align-items: end center;
        justify-content:space-around;
    } 
    }

    @media screen and (min-width: 1201px) {
    .findroomiesmain{
        display: grid;
        gap: 5rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10vh 10vh 70vh 10vh;
            
    }   
    
    .findroomies{
        grid-column: 2/3;
        grid-row: 1/2;
    }    
    
    .findroomiesabout{
        grid-column: 2/3;
        grid-row: 2/3;
        align-self: end;
        text-align: center;
    }
    
    .findroomiesinfo{
        grid-row: 3/4 ;
        grid-column: 2/3 ;
        align-self: start;
    }
    
    .findroomiesfooter{
        grid-column: 1/4;
        grid-row:4/5;
        text-align: center;
    }
    
    .findroomiespic{
        grid-column: 1/4;
        grid-row: 3/4;
        align-items: center;
        justify-content: space-around;
    } 
    }  
